@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    min-width: 100vw;
    background: #ece9fd;
    font-feature-settings:
        "clig" off,
        "liga" off;
    color: #090039;
    padding: 6rem 2.3rem 6.6rem;

    @media (min-width: 1080px) {
        padding-top: 8rem;
    }

    main {
        max-width: 32.9rem;
        margin: 0 auto;

        @media (min-width: 1080px) {
            max-width: 102rem;
            display: flex;
            gap: 10rem;
        }

        .desc {
            display: flex;
            flex-flow: column nowrap;
            margin-right: 11.6rem;

            @media (min-width: 1080px) {
                max-width: 48.4rem;
            }

            h1 {
                font-size: 4rem;
                font-weight: 800;
                line-height: 4.8rem;
                margin-bottom: 1.5rem;
                min-width: 32.9rem;
            }

            p {
                line-height: 3.2rem;
                margin-bottom: 3.2rem;
                min-width: 32.9rem;
                color: rgba(10, 0, 57, 0.64);
            }

            p:first-child {
                color: #7158ef;
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                margin-bottom: 1.7rem;
            }

            a {
                text-decoration: none;
                line-height: 32px;
            }
        }

        ul {
            list-style: none;
            margin-top: 7.2rem;

            li {
                display: flex;
                align-items: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                max-width: 25.7rem;

                span {
                    font-size: 7.2rem;
                    font-weight: 800;
                    line-height: 8rem;
                    letter-spacing: -0.2rem;
                    margin-right: 2.6rem;
                }

                @media (min-width: 1080px) {
                    gap: 5.3rem;
                    max-width: 45rem; 
                }
            }

            li:first-child {
                span {
                    margin-right: 3.6rem;
                }
            }

            li + li {
                @media (min-width: 1080px) {
                    margin-top: 3.2rem;
                }
            }
        }
    }
}
